name: tfsec
permissions: write-all
on:
  pull_request:
  workflow_dispatch:
jobs:
  tfsec:
    uses: clouddrove/github-shared-workflows/.github/workflows/tfsec.yml@master
    secrets: inherit
    with:
      working_directory: '.'